<div class="text">
  <h1>Finishing up</h1>
  <p>Double-check everything looks OK before confirming</p>
</div>
<div class="summary">
  <div class="summary__billing">
    <div class="summary__billing__plan">
      <div class="summary__billing__plan-text">
        <h3>{{formDataService.getBillingData().plan.type}}</h3>
        <a (click)="formDataService.changeBillingType()">Change</a>
      </div>
      <p>
        ${{ formDataService.getBillingData().isYearly ? formDataService.getBillingData().plan.price * 10 : formDataService.getBillingData().plan.price }}/{{
          formDataService.getBillingData().isYearly ? "yr" : "mo"
        }}
      </p>
    </div>
    <div class="summary__billing__addon" *ngFor="let item of selectedAddOns">
      <p>{{ item.name }}</p>
      <p class="summary__billing__addon__price">
        ${{
          formDataService.getBillingData().isYearly ? item.price * 10 : item.price
        }}/{{ this.formDataService.getBillingData().isYearly ? "yr" : "mo" }}
      </p>
    </div>
  </div>
  <div class="summary__price">
    <p>Total <span>(per month)</span></p>
    <p class="summary__price__tag">
      ${{ formDataService.getBillingData().isYearly ? countTotalPrice() * 10 : countTotalPrice() }}/{{
        formDataService.getBillingData().isYearly ? "yr" : "mo"
      }}
    </p>
  </div>
</div>
<button class="previous-button" (click)="goToPreviousStep()">Go Back</button>
<button class="submit-button" (click)="submitFormData()">Submit</button>
