@import "../../../variables";

.user-info {
  .info-box {
    margin: $spacing-medium 0px;
    display: flex;
    flex-direction: column;

    .text-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        margin: $spacing-small 0px;
        font-size: $font-size-small;
      }

      p {
        margin: 0;
        color: $strawberryRed;
      }
    }

    input {
      width: 100%;
      padding: $spacing-medium-small;
      color: $marineBlue;
      font-family: $font-family-medium;
      font-size: $font-size-medium;
      outline: none;
      border-radius: $border-radius-medium;
      border: 1px solid $lightGray;

      &:focus {
        border: 1px solid $purplishBlue;
      }

      &.invalid {
        border: 1px solid $strawberryRed;
      }
    }
  }

  .next-button {
    padding: $spacing-medium-small $spacing-medium-large;
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    background-color: $marineBlue;
    color: $lightGray;
    border-radius: $border-radius-medium;

    &:hover {
      cursor: pointer;
    }
  }
}
