<div class="text">
  <h1>Personal info</h1>
  <p>Please provide your name, email address, and phone number</p>
</div>
<form [formGroup]="infoForm" class="info form">
  <div class="info-box">
    <div class="text-box">
      <label>Name</label>
      <p
        *ngIf="infoForm.controls['name'].errors?.['required'] && infoForm.controls['name'].touched"
        class=""
      >
        Name is required
      </p>
    </div>
    <input
      [class.invalid]="
        infoForm.controls['name'].errors && infoForm.controls['name'].touched
      "
      formControlName="name"
    />
  </div>
  <div class="info-box">
    <div class="text-box">
      <label>Email Address</label>
      <p
        *ngIf="infoForm.controls['email'].errors?.['required'] && infoForm.controls['email'].touched"
      >
        Email is required
      </p>
    </div>
    <input
      [class.invalid]="
        infoForm.controls['email'].errors && infoForm.controls['email'].touched
      "
      formControlName="email"
    />
  </div>
  <div class="info-box">
    <div class="text-box">
      <label>Phone Number</label>
      <p
        *ngIf="infoForm.controls['phone'].errors?.['required'] && infoForm.controls['phone'].touched"
      >
        Name is required
      </p>
    </div>
    <input
      [class.invalid]="
        infoForm.controls['phone'].errors && infoForm.controls['phone'].touched
      "
      formControlName="phone"
    />
  </div>
</form>
<button class="next-button" (click)="goToNextStep()" [disabled]="infoForm.invalid">
  Next Step
</button>
