<div class="text">
  <h1>Pick add-ons</h1>
  <p>Add-ons help enhance your gaming experience</p>
</div>
<div class="form addon-selector">
  <div
    class="addon-selector__option"
    *ngFor="
      let addOn of formDataService.getBillingData().addOns;
      let index = index
    "
    (click)="toggleAddOnSelection(index)"
    [class.addon-selector__option--active]="
      this.formDataService.getBillingData().addOns[index].isAdded
    "
  >
    <div
      class="addon-selector__option__img"
      [class.addon-selector__option__img--active]="
        this.formDataService.getBillingData().addOns[index].isAdded
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="9"
        viewBox="0 0 12 12"
      >
        <path
          fill="none"
          stroke="#FFF"
          stroke-width="2"
          d="m1 4 3.433 3.433L10.866 1"
        />
      </svg>
    </div>
    <div class="addon-selector__option__text">
      <h3>{{ addOn.name }}</h3>
      <p class="description">{{ addOn.description }}</p>
    </div>
    <p>
      +{{
        formDataService.getBillingData().isYearly
          ? addOn.price * 10
          : addOn.price
      }}$/{{ formDataService.getBillingData().isYearly ? "yr" : "mo" }}
    </p>
  </div>
</div>
<button class="next-button" (click)="goToNextStep()">Next Step</button>
<button class="previous-button" (click)="goToPreviousStep()">Go Back</button>
