@import "../../../variables";

.addon-selector {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;

  &__option {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: $spacing-medium-large;
    border: 1px solid $lightGray;
    border-radius: $border-radius-medium;
    cursor: pointer;

    &--active,
    &:hover {
      background-color: $magnolia;
      border-color: $purplishBlue;
    }

    &__img {
      padding: 1px 4px;
      border: 1px solid $lightGray;
      border-radius: 5px;

      &--active {
        background-color: $purplishBlue;
      }
    }

    &__text {
      margin: 0 auto 0 0;

      * {
        margin: 0;
        font-size: $font-size-medium;
      }

      .description {
        margin-top: 5px;
        color: $coolGray;
        font-size: $font-size-small;
      }
    }

    p {
      margin: 0;
      color: $purplishBlue;
    }
  }
}
