<div class="main-container">
  <app-layout [step]="step"></app-layout>
  <div class="form-container">
    <app-info *ngIf="step === 1" (next)="onNext()"></app-info>
    <app-select-plan
      *ngIf="step === 2"
      (next)="onNext()"
      (previous)="onPrevious()"
    ></app-select-plan>
    <app-add-ons
      *ngIf="step === 3"
      (next)="onNext()"
      (previous)="onPrevious()"
    ></app-add-ons>
    <app-summary
      *ngIf="step === 4"
      (next)="onNext()"
      (previous)="onPrevious()"
    ></app-summary>
    <div class="finish" *ngIf="step === 5">
      <img src="../assets/images/icon-thank-you.svg" alt="thank-img"/>
      <h1>
        Thank you!
      </h1>
      <p>
        Thanks for confirming your subscription! We hope you have fun using our
        platform. If you ever need support, please feel free to email us at
        support@loremgaming.com.
      </p>
    </div>
  </div>
</div>
