<div class="layout">
  <div class="step-container">
    <div class="step-number" [ngClass]="{'step-active': step === 1}">
      <span>1</span>
    </div>
    <div class="step-text">
      <p>STEP 1</p>
      <a>YOUR INFO</a>
    </div>
  </div>
  <div class="step-container">
    <div class="step-number" [ngClass]="{'step-active': step === 2}">
      <span>2</span>
    </div>
    <div class="step-text">
      <p>STEP 2</p>
      <a>SELECT PLAN</a>
    </div>
  </div>
  <div class="step-container">
    <div class="step-number" [ngClass]="{'step-active': step === 3}">
      <span>3</span>
    </div>
    <div class="step-text">
      <p>STEP 3</p>
      <a>ADD-ONS</a>
    </div>
  </div>
  <div class="step-container">
    <div class="step-number" [ngClass]="{'step-active': step === 4}">
      <span>4</span>
    </div>
    <div class="step-text">
      <p>STEP 4</p>
      <a>SUMMARY</a>
    </div>
  </div>
</div>
