// Variables
$marineBlue: hsl(213, 96%, 18%);
$purplishBlue: hsl(243, 100%, 62%);
$pastelBlue: hsl(228, 100%, 84%);
$lightBlue: hsl(206, 94%, 87%);
$strawberryRed: hsl(354, 84%, 57%);

$coolGray: hsl(231, 11%, 63%);
$lightGray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

// Typography
$font-family-Bold: Ubuntu-Bold;
$font-family-medium: Ubuntu-Medium;
$font-family-regular: Ubuntu-Regular;
$font-family-bold: Ubuntu-Bold;
$font-size-small: 14px;
$font-size-medium: 16px;

// Spacing
$spacing-small: 8px;
$spacing-medium-small: 12px;
$spacing-medium: 16px;
$spacing-medium-large: 18px;
$spacing-large: 32px;

// Borders
$border-radius-small: 5px;
$border-radius-medium: 8px;

// 先依照區塊分類，接著統一不同區塊的變數，margin、font、border、background
