// Import SCSS files
@import './variables';
@import './typography';
@import './buttons';
@import './animations';

// Global styles
@font-face {
  font-family: Ubuntu-Bold;
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $magnolia;
}


